header {
    background-color: #ffffff;
    color: #021553;
    text-align: center;
    padding: 1rem 0;
}

.backgound_home {
    width: 100%; 
    height: 1080px;
    margin: 24px; 
    background-image: url('background home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body {
    font-family: arial, sans-serif;
    background-color: #021553;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* referente a barra do menu inicial*/
.menu {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 36px; 
    width: 1176px;
    height: 80px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu button, .menu .logo {
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.menu button {
    width: 144px;
    height: 42px;
    background-color: #021553;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .logo {
    width: 130px;
    height: 130px;
    background-color: #021553;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu .logo img {
    width: 55%;
    height: 70%;
}
 
/* referente a área da pagina inicial que possuiu o video e texto sobre a empresa*/
.welcome {
    width: 1176px;
    height: 588px;
    background-color: rgba(2, 21, 83, 0.85);
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .video-container {
    width: 295px; 
    height: 496px; 
    margin-right: 24px; 
  }
  
  .video-container:hover {
    cursor: pointer; 
  }

  .video-container video {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
  
  .description {
    width: 225px;
    height: 660px;
    text-align: center; 
  }

  .description h3 {
    font-size: 26px; 
    margin-bottom: 10px;
  }

  .description h1 {
    font-size: 40px; 
    margin-bottom: 10px;
  }
   
  .description p {
    font-size: 26px; 
    line-height: 1.5; 
    margin-bottom: 24px; 
  }
  
  .button {
    display: inline-flex; 
    background-color: #28A219; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .button:hover {
    background-color: #227913; 
  }
  
  /* referente a area das empresas parceiras*/

.networking {
    width: 100%; 
    height: 622px;
    margin: 24px ; 
    background-color: white; 
    padding: 20px; 
    text-align: center; 
    
  }
  
  .imagens {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 16px; 

  }

  .imagens img {
    width: 100%; 
    height: auto; 
    margin: 10px;
  }

  /* referente a area que faz a apresentaçã dos produtos*/
  
.product-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 24px; 
  }
  
.footer {

    background-color: #ffffff;
    color: #021553;
    text-align: center;
    padding: 1rem 0;

}

